* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  font-family: Verdana, sans-serif;
}

#app-header {
  height: 45px;
}

#clear-board {
  float: right;
}

#whiteboard {
  border: 1px solid #333;
  margin-left: 255px;
}

.chat-bar {
  width: 250px;
  position: fixed;
  top: 0;
  left:0;
  padding: 10px;
  background: #333;
  min-height: 100%;
  float: left;
  color: #e3e3e3;
}


form.chat {

}

button {
  padding: 5px;
}

input {
  padding: 5px;
}
